<div class="home-container">
  <header>
    <h1>Ethias</h1>
    <p>Ceci est une page d'accueil de démonstration.</p>
  </header>

  <section class="features">
    <h2>Fonctionnalités</h2>
    <div class="feature">
      <i class="fa fa-check-circle"></i>
      <p>Facile à utiliser</p>
    </div>
    <div class="feature">
      <i class="fa fa-code"></i>
      <p>Basé sur Angular</p>
    </div>
    <div class="feature">
      <i class="fa fa-mobile"></i>
      <p>Responsive</p>
    </div>
  </section>

  <section class="about">
    <h2>À propos de nous</h2>
    <p>Nous sommes une équipe passionnée de développement web qui aime créer des applications modernes et conviviales.</p>
  </section>


  <button nbButton>
    <a href="http://localhost:4201/protected">Slave</a></button>
</div>
